<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('../partials/head') %>

<body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <div class="container-fluid">
    <div class="row subscriber-bg">
      <%- include ('../partials/sidemenu');%>
      <div class="col-md-9 float-left col px-5 pl-md-2 pt-2 ml-5" id="mainbar">
        <p class="topbox ml-2">AVAILABLE SESSIONS</p>
        <div class="table-responsive">
          <table class="table" id="table1">
            <thead class="Thead">
              <tr>
                <th scope="col">Start Time</th>
                <th scope="col">Stop Time</th>
                <th scope="col">Max-bitrate</th>
                <th scope="col">Type</th>
                <th scope="col">Action</th>

              </tr>
            </thead>
            <tbody>
              <% if(data.length > 0){
              for(var i=0; i<data.length;i++){
                var id= data[i].id;
                %>
              <tr>
                <td><%=data[i].start%></td>
                <td><%=data[i].end%></td>
                <td><%=data[i].max_bitrate%></td>
                <td><%=data[i].session_type%></td>
                <td><a href="/delete-session/<%=ser_res_id%>/<%=id%>"><button type="button" class="btn delbutt"><i
                        class="fa fa-trash-o"></i> Delete</button></a></td>

              </tr>

              <% }
              } %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>